	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	font,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	dd,
	dl,
	dt,
	li,
	ol,
	ul,
	fieldset,
	form,
	label,
	legend {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
	}
	
	img {
		border: none;
	}
	
	p {
		margin-bottom: 0;
	}
	
	body,
	ul,
	li,
	dl,
	dt,
	dd,
	form,
	p,
	img,
	textarea,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	iframe,
	select {
		margin: 0;
		font-size: 12px;
		padding: 0;
		list-style: none;
	}
	
	body,
	a,
	input,
	button {
		color: #000;
		font-size: 12px;
		-webkit-font-smoothing: antialiased;
		font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	a {
		color: #428bca;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	table {
		text-align: center;
		vertical-align: middle;
	}
	
	th {
		text-align: center;
		vertical-align: middle;
	}
	
	.clearfix:after {
		content: "";
		height: 0;
		display: block;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
	
	img {
		vertical-align: top;
	}
	
	.head {
		min-width: 1200px;
		height: 180px;
		background-color: white;
	}
	
	.head_top {
		height: 35px;
		line-height: 35px;
		background-color: white;
	}
	
	.head_top_box {
		width: 1200px;
		margin: 0 auto;
		font-size: 12px;
		color: #999999;
	}
	
	._top_box_left {
		width: 320px;
		margin-left: 17px;
		float: left;
		height: 35px;
	}
	
	.day {
		color: red;
	}
	
	._top_box_left i,
	._top_box_right i {
		list-style: none;
		margin: 0 10px;
	}
	
	._top_box_right {
		float: right;
		padding-right: 10px;
	}
	
	._top_box_right a {
		color: #999999;
		text-decoration: none;
	}
	
	._top_box_right a:first {
		padding-left: 10px;
	}
	
	._top_box_right a:hover {
		text-decoration: underline;
	}
	
	.head_center {
		width: 100%;
	}
	
	.head_cen_inner {
		height: 115px;
		width: 1200px;
		margin: 0 auto;
		text-align: center;
		position: relative;
		color: #333333;
	}
	
	.head_cen_inner a img {
		width: 192px;
		height: 49px;
		display: inline-block;
		margin: 33px auto 0;
	}
	
	.top_search {
		padding: 5px 10px 0 0;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		width: 500px;
	}
	
	#txt {
		display: inline-block;
		width: 120px;
		height: 18px;
		border: 1px solid #959595;
		padding-left: 30px;
		text-align: left;
		line-height: normal;
	}
	
	.top_search input[type=submit] {
		display: block;
		width: 30px;
		height: 22px;
		background: url(../img/indexImg/seach.png) no-repeat 10px center;
		position: absolute;
		top: 5px;
		right: 131px;
		border: none;
		cursor: pointer;
		outline: none
	}
	
	.head_bottom {
		width: 100%;
		height: 30px;
		position: relative;
		z-index: 1300;
		background: white;
		top: 0;
	}
	
	.head_bottom .head_nav {
		width: 1200px;
		margin: 0 auto;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		position: relative;
		font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	}
	
	._nav_left {
		float: left;
	}
	
	._nav_left a,
	._nav_right a {
		display: inline-block;
		float: left;
		position: relative;
		margin: 0 15px;
		color: #666;
		text-decoration: none;
		font-size: 14px;
	}
	
	._nav_left a:hover {
		color: black;
	}
	
	._nav_right a:hover {
		color: black;
	}
	
	._nav_right {
		float: right;
	}
	
	.hot_nav {
		display: inline-block;
		width: 15px;
		height: 5px;
		position: absolute;
		right: -18px;
		top: 5px;
		text-align: left;
	}
	
	.nav_menu {
		position: relative;
		height: 28px;
	}
	
	.menu_wrap {
		margin: 0 auto;
	}
	
	.menu_info {
		position: absolute;
		left: 38px;
		top: 0;
		width: 1200px;
		margin: 0 auto;
		z-index: 99;
		/*overflow: hidden;*/
		height: 29px;
	}
	
	.info_inner {
		position: absolute;
		z-index: 2;
		width: 1200px;
		height: 29px
	}
	
	.info_inner_1 {
		float: left;
		height: 28px;
	}
	
	.info_inner_1 li {
		float: left;
		padding-right: 15px;
		width: 69px;
		position: relative;
		height: 28px;
		line-height: 28px;
		z-index: 1;
	}
	
	.info_inner_1 li a {
		width: 66px;
		padding-left: 17px;
		font-size: 12px;
		color: #666666;
		text-align: left;
		text-decoration: none;
	}
	
	.info_inner_1 li .arrow {
		display: inline-block;
		width: 10px;
		height: 9px;
		vertical-align: top;
		margin-top: 10px;
		background: url(../img/indexImg/meau-arr.png) no-repeat center 0;
		margin-left: 0px;
	}
	
	.info_sec {
		position: absolute;
		width: 1200px;
		height: 254px;
		left: 0;
		top: 28px;
		background: white;
		z-index: 103;
		display: none;
	}
	
	.info_sec ul {
		float: left;
		float: left;
		width: 66px;
		padding-left: 17px;
		padding-top: 20px;
		height: 235px;
		border-right: 1px solid #f7f7f7;
	}
	
	.info_sec ul li {
		/*height: 24px;*/
		line-height: 24px;
	}
	
	.info_sec ul li a {
		color: #666666;
		text-decoration: none;
	}
	
	.info_sec ul li a:hover {
		text-decoration: underline;
	}
	

	
	.foot_maso_transclass {
		width: 1200px;
		margin: 0 auto;
		margin-bottom: 30px;
		position: relative;
		overflow: hidden;
	}
	
	.foot_maso_transclass a {
		margin-top: 10px;
	}
	
	.foot_maso_text {
		width: 360px;
		height: 50px;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 25px 0;
		bottom: 25px;
		right: 170px;
		position: absolute;
		color: #737373;
		text-align: center;
		line-height: 25px;
		cursor: pointer;
		transition-duration: 0.5s;
	}
	
	.foot_maso_transclass img {
		transition-duration: 1.5s;
		transition-timing-function: linear;
	}
	
	.foot_maso_transclass img.exp {
		transform: scale(1.05);
	}
	
	.footer {
		background: #242424;
		text-align: center;
	}
	
	.footer_top {
		padding-top: 90px;
	}
	
	.footer_help {
		width: 1200px;
		margin: 0 auto;
		padding-top: 12px;
		height: 185px;
		/*border-top: 1px solid #3a3a3a;*/
	}
	
	.help_list {
		float: left;
		padding: 12px 45px 0 13px;
		text-align: left;
	}
	
	.help_list li {
		line-height: 20px;
	}
	
	.help_list li:first-child {
		color: #cbcbcb;
		font-weight: bold;
		line-height: 20px;
	}
	
	.help_list li a {
		color: #a2a2a2;
		text-decoration: none;
	}
	
	.help_list li a:hover {
		text-decoration: underline;
	}
	
	.help_email {
		float: left;
		width: 300px;
		color: #a2a2a2;
		margin: 10px 0 0 40px
	}
	
	.book_email h3 {
		font: 12px/24px Tahoma, Geneva, sans-serif;
		color: #cbcbcb;
		font-weight: 700;
		text-align: left;
	}
	
	.book_email p {
		color: #A2A2A2;
		font-size: 12px;
		text-align: left;
	}
	
	.email_txt {
		margin: 20px 0 15px;
	}
	
	#book_email {
		float: left;
		border: 1px solid #808080;
		background: #242424;
		color: #a2a2a2;
		width: 275px;
		height: 28px;
		line-height: 28px;
		padding-left: 6px;
	}
	
	.email_btn {
		display: block;
		background: #d6d6d6;
		width: 54px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: #000;
		text-decoration: none;
	}
	
	.email_btn:hover {
		text-decoration: underline;
	}
	
	.footer_nav {
		background: #242424;
		height: 100px;
		width: 1200px;
		margin: auto;
		border-top: 1px solid #494949;
	}
	
	.footer_nav_inner {
		height: 26px;
		line-height: 26px;
		padding-top: 25px;
		padding-left: 140px;
	}
	
	.footer_nav_inner li {
		float: left;
		padding-bottom: 10px;
	}
	
	.footer_nav_inner li a {
		color: #666666;
		text-decoration: none;
	}
	
	.footer_nav_inner li a:hover {
		text-decoration: underline;
	}
	
	.footer_nav_inner li span {
		margin: 0 16px;
		color: #666666;
	}
	
	.pe {
		background: url(../img/indexImg/em_icon.jpg) no-repeat 16px 31%;
		padding-left: 40px;
		margin-left: -16px;
	}
	
	.integrity {
		padding-top: 2px;
	}
	
	.footer_copy {
		margin-top: 15px;
		color: #999999;
		text-align: center;
	}
	
	.footer_copy a {
		color: #999999;
		text-decoration: none;
	}
	
	.footer_copy span {
		display: inline-block;
		width: 14px;
		height: 16px;
		margin-right: 6px;
		background: url(../img/indexImg/icon-police.png) 0 0 no-repeat;
		vertical-align: middle;
		margin-top: -4px;
	}
	
	#cart_list {
		background: rgb(30, 30, 30);
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 36px;
		/*min-height: 600px;*/
		z-index: 9999;
	}
	
	#cart_list li {
		/*zoom: 1;*/
		position: relative;
	}
	
	.cart_box {
		text-align: center;
		border: 0;
		padding: 18px 0;
		overflow: hidden;
	}
	
	.cart_tab1 {
		background: url(../img/indexImg/nav_icon.png) no-repeat 0 0;
		width: 14px;
		height: 14px;
		margin: 0 0 3px 11px;
	}
	
	.cart_tab2 {
		width: 20px;
		height: 50px;
		line-height: 16px;
		padding: 0;
		margin: 0 auto;
		color: white;
		text-decoration: none;
	}
	
	.cart_tab3 {
		font: 700 12px/21px Microsoft YaHei;
		border-radius: 10px;
		background: #900;
		color: #fff;
		width: 21px;
		height: 21px;
		text-align: center;
		margin: 4px auto 0;
	}
	
	.cart a {
		color: white;
		text-decoration: none;
	}
	
	.cart_money {
		text-align: center;
		border-bottom: 0;
		padding: 12px 0;
	}
	
	.cart_money1 {
		background: url(../img/indexImg/nav_icon.png) no-repeat -1px -42px;
		width: 16px;
		height: 11px;
		margin: 0 auto 3px;
	}
	
	#cart_list a {
		text-decoration: none;
		color: white;
	}
	
	.cart_book {
		height: 32px;
		text-align: center;
		padding: 8px 0;
	}
	
	.cart_book1 {
		background: url(../img/indexImg/nav_icon.png) no-repeat 0 -83px;
		width: 10px;
		height: 14px;
		margin: 0 auto 3px;
	}
	
	.cart_book2 {
		text-align: center;
	}
	
	.cart_fav {
		height: 30px;
		padding: 8px 0;
		text-align: center;
	}
	
	.cart_fav1 {
		background: url(../img/indexImg/nav_icon.png) no-repeat -1px -118px;
		width: 14px;
		height: 12px;
		margin: 0 auto 3px;
	}
	
	.cart_phone {
		height: 53px;
		padding: 8px 0;
		text-align: center;
	}
	
	.cart_phone1 {
		background: url(../img/indexImg/weixin2_icon.png) no-repeat 0 0;
		width: 11px;
		height: 20px;
		margin: 0 auto 3px
	}
	
	#cart_list .service {
		height: 48px;
		padding: 8px 0;
		text-align: center;
		position: absolute;
		bottom: 120px;
		width: 36px;
	}
	
	#cart_list .back_top {
		position: absolute;
		bottom: 75px;
		width: 36px;
	}
	
	.cart_service1 {
		background: url(../img/indexImg/nav_icon.png) no-repeat -1px -210px;
		width: 14px;
		height: 18px;
		margin: 0 auto 3px;
	}
	
	.cart_back {
		height: 30px;
		text-align: center;
		padding: 8px 0;
	}
	
	.cart_back1 {
		background: url(../img/indexImg/nav_icon.png) no-repeat 0px -265px;
		width: 16px;
		height: 21px;
		margin: auto;
	}
	
	#back_sec,
	#cart_sec,
	#book_sec,
	#money_sec,
	#serv_sec,
	#fav_sec {
		z-index: 1000;
		position: absolute;
		top: 8px;
		left: -145px;
		width: 123px;
		height: 33px;
		color: white;
		font-size: 14px;
		line-height: 33px;
		font-family: tahoma, arial, 'Hiragino Sans GB', simsun, sans-serif;
		text-align: center;
		background: #900;
		display: none;
		/*transition-duration: 0.2s*/
	}
	
	#phone_sec {
		margin-left: -34px;
		margin-top: -300px;
		width: 162px;
		height: 641px;
		position: absolute;
		left: -149px;
		top: 0;
		display: none;
		/*animation: hide 0.4s ease both;*/
		background: rgb(255, 255, 255);
	}
	
	#back_sec {
		left: -155px;
	}
	
	#serv_sec {
		height: 48px;
		left: -151px;
		line-height: 22px;
	}
	
	#serv_sec p {
		color: #dba80e;
		;
	}
	
	.sec_arrow {
		display: block;
		position: absolute;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 4px solid #900;
		left: 122px;
		top: 9px;
	}
	.cart_container .sec_arrow{
		/*border-left-color: white;*/
		left: 296px;
		top: 64px;
		border-top: 3px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid white;
	}
	.cart_container {
		width: 296px;
		position: fixed;
		height: 100%;
		top: 0;
		right: 0px;
		box-shadow: -10px 0 50px #333;
		background: white;
		z-index: 9999;
		transform-origin: right center;
	}
	
	@keyframes front {
		from {
			transform: rotateY(0);
		}
		to {
			transform: rotateY(-90deg);
			opacity: 0;
			/*display: none;*/
		}
	}
	@keyframes behin {
		from {
			transform: rotateY(90deg);
			opacity: 0;
		}
		to {
			transform: rotateY(0deg);
			opacity: 1;
			/*display: none;*/
		}
	}
	.cart_logo {
		margin: 0 15px;
		margin-top: 45px;
		display: inline-block;
	}
	
	#mycar {
		width: 267px;
		margin: 21px auto 0;
	}
	
	.shop_btn {
		float: right;
		margin-top: 15px;
		background: url(../img/indexImg/shop_btn.jpg) repeat-x;
		height: 42px;
		line-height: 42px;
		text-align: center;
		width: 152px;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		display: block;
	}
	
	.close {
		background: url(../img/indexImg/nav_icon.png) no-repeat 0 -318px;
		width: 13px;
		height: 13px;
		display: block;
		position: absolute;
		top: 10px;
		right: 13px;
	}
	
	.shop_btn:hover {
		text-decoration: underline;
	}
	
	#container {
		perspective: 1500px;
		width: 296px;
		position: fixed;
		top: 0;
		right: 36px;
		z-index: 99998;
		height: 100%;
		display: none;
	}
	.cart_product{
	border: 1px solid #dbdbdb;
}
.list_pic{
	float: left;
}
.list_pic img{
	width: 56px;
	height: 75px;
	
}
.list_txt{
	height: 30px;
	overflow: hidden;
}
.id_size{
	margin-top: 18px;
	color: black;
}
.price_txt{
	    color: #ff3333;
    font: 12px/22px Microsoft YaHei;
    text-align: right;
}
.del_the{
	    margin-top: 26px;
    color: #999;
    float: right;
    text-decoration: none
}
.list_text{
	    float: left;
    margin: 10px 0 0 8px;
    color: #666;
    width: 105px;
    overflow: hidden;
}
.list_price{
	    float: left;
    margin: 10px 0 0 20px;
    width: 70px;
    overflow: hidden;
}